@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		@apply bg-black;
		overscroll-behavior-y: none;
		@apply min-h-screen min-w-full fixed;
	}
	#app {
		overscroll-behavior-y: none;
		@apply overflow-auto h-[calc(100vh)];
	}
}
@layer components {
	.custom-scroll {
		scrollbar-width: thin;
		scrollbar-color: theme('colors.gray.100') #ffffff;
	}
	.custom-scroll::-webkit-scrollbar {
		width: 10px;
	}
	.custom-scroll::-webkit-scrollbar-thumb {
		background: #17857966;
	}
	.custom-scroll::-webkit-scrollbar-thumb:hover {
		background: #178579cc;
	}
	.custom-scroll::-webkit-scrollbar-thumb:active {
		background: #178579;
	}
	.custom-scroll::-webkit-scrollbar-track {
		background: #000;
	}
}